aidatatang_200zh/data/**
magic_data/data/**
buckeye_small/data/**
buckeye/data/**
timit/data/**
aidatatang_200zh/data/
magic_data/data/
buckeye/data/
timit/data/
aidatatang_small/data/
aidatatang_small/data/**
!**/local/utils/data/**
!**/utils/data/*
**/exp/*
!**/conf/mfcc.conf
!**/conf/mfcc_hires.conf
**/mfcc/*
**/mfcc_*/*
**/slurm-*
